//@import "./src/App";
@import '../../../src/App';
.inps-container{
  text-align: left;
  box-sizing: border-box;

  input{
    box-sizing: border-box;
    @include font-display-medium;
    width: 96px;
    height: 72px;
    border-radius: .5rem;
    padding: 9px 16px;
    border: none;
    &:focus{

      outline: none;
    }
  }
  .labels{
    padding-top: 1px;
  }
}