@import "./src/App";
#digital-clock-component{

  margin-top: 20px;
  @include font-display-medium;
  display: grid;
  align-items: start;
  grid-auto-flow: column;
  grid-template-columns: repeat( 4,max-content ) ;
  grid-gap: 12px;

  .inps-container{
    text-align: left;
    box-sizing: border-box;
    //color: $on-surface-variant;

    input{
      box-sizing: border-box;
      @include font-display-medium;
      width: 96px;
      height: 72px;
      border-radius: .5rem;
      padding: 9px 16px;
      background-color: $surface-variant;
      border: none;
      &:focus{
        border: 2px solid $primary;
        //background-color: #E8DEF8;
        outline: none;
      }
    }
    .labels{
      padding-top: 1px;
    }
  }
  .activated {
    border: 2px solid $primary !important;;
    background-color: #E8DEF8 !important;
    outline: none;
    pointer-events: none;
  }
  .inp-deactive{
    pointer-events: none;
  }
  .switch{
    width: max-content;
    @include font-title-medium;
    display: grid;
    grid-auto-flow: row;
    border-radius: 8px;
    border: 1px solid $outline;
    height: 72px;
    div{
      padding: 0 10px;
      height: 100%;
      vertical-align: middle;
      cursor: pointer;
    }
    .up{
      border-radius: 8px 8px 0 0 ;
    }
    .down{
      border-radius: 0 0 8px 8px  ;
    }
    .active{
      background-color: $tertiary-container;
    }
  }
}